
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@customer) do |f| %>

<% if @customer.errors.any? %>
<h4>Customer not added</h4>
<ul>
<% @customer.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>


      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :dob %>
      <%= f.date_select :dob, { :include_blank => true, :start_year => 1900, :end_year => 2014 } %>

	    <%= f.label :sex %>
      <%= f.select :sex, options_for_select(%w[Male Female]),{ :include_blank => true }  %>

      <%= f.label :address %>
     <%= f.text_area :address, :id => "address", :cols => 10, :rows => 10 %>
      
      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :pincode %>
      <%= f.text_field :pincode %>

      <%= f.label :pan %>
      <%= f.text_field :pan %>

            
      <%= f.submit "Customer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>